<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<!-- <meta charset="ISO-8859-1"> -->
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<div  class="container my-2">
	<div class="row">
		<div class="column" id="formBox">
			<form th:action="@{/filterTable}"method="get">
				<!-- <h1>Date picker</h1>
				<p>From date:<input type="text" th:field="*{fromDate}"placeholder="fromDate" id="fromDate"></p>
				<p> To date:<input type="text" th:field="*{toDate}"placeholder="toDate" id="toDate"></p>
				<button type="submit" class="btn btn-primary filterButton">filter</button> -->
				<input id="txtSearch" type="text" placeholder="search by job name"name="keyword">
			
			<!-- <button type="submit" class="btn btn-primary">Filter</button>
			</form>
			<form method="get"> -->
				<input id="fromDate" type="text" placeholder="fromDate"name="fromDate">
				<input id="toDate" type="text" placeholder="toDate"name="toDate">
				<button type="submit">Filter</button>
			</form>
		</div>
		<div class="column" style="text-align:right;float:right">
		<form th:action="@{/listJobs}"method="get">
					<button type="submit" class="btn btn-primary">ListJobs</button>
				</form>
		</div>		
		</div>	
			
 		<div class="hidden" id="auditTable">
			<h1>Job Details</h1>
			<table border="1" class="table table-stried table responsive-md">
				<thead>
					<tr>
						<th>Job Name</th>
						<th>Job Fire Time</th>
						<th>Scheduler Fire Time</th>
						<th>Next Fire Time</th>
						<th>Job Run Type</th>
						<th>Job Run Time(in ms)</th>	
						<th>Result</th>
						<th>LocalDate</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="auditTable : ${AuditTable}">
						<td th:text="${auditTable.jobName}"></td>
						<td th:text="${auditTable.fireTime}"></td>
						<td th:text="${auditTable.scheduledFireTime}"></td>
						<td th:text="${auditTable.nextFireTime}"></td>
						<td th:text="${auditTable.runType}"></td>
						<td th:text="${auditTable.jobRunTime}"></td>
						<td>success</td>
						<td th:text="${auditTable.executionDate}"></td> 
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>