<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Update Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div id="mydiv" class="container">
			<form action="#" th:action="@{/updateJob}" th:object="${schedulerJobInfo}" method="POST">
        	<input type="hidden" th:field="*{jobId}"  class="form-control mb-4 col-4">
        	<input type="hidden" th:field="*{jobName}" class="form-control mb-4 col-4">
        	<input type="hidden" th:field="*{jobGroup}" class="form-control mb-4 col-4">
        	<input type="hidden" th:field="*{jobStatus}"  class="form-control mb-4 col-4">
        	<input type="hidden" th:field="*{jobClass}"  class="form-control mb-4 col-4">
        	<input type="text" th:field="*{cronExpression}"  class="form-control mb-4 col-4">
        	<input type="hidden" th:field="*{description}"  class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Update Job</button>
	</div>
    
</body>

</html>